#register {
  width: 30vw;
  height: 82vh;
  margin: 0 auto;
  background: #62808a;
  border: 1px solid black;
  border-radius: 15px;
  z-index: 1500;
  display: none;
  top: 3vw;
  left: 30%;
  position: absolute;
}
.form {
  width: 90%;
  height: 90%;
  margin: 0 auto 20px auto;
  color: black;
  overflow: hidden;
}
.close {
  margin: 10px 0 0 90%;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 2px;
  background: #ccc;
}
.close:hover {
  background: #fff;
}

#gray {
  background-color: rgba(1, 1, 1, 0.75);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 1400;
}
.myForm {
  display: grid;
  grid-gap: 0.6em;
  padding: 1.2em;
}

.btn_modal {
  background: #35c4e8;
  border-radius: 10px;
  width: 238px;
  height: 2.5em;
  margin: auto;
}
