.rules {
  display: grid;
  grid-template-columns: 5% 27% 36% 27% 5%;
  grid-template-rows: 20% 1fr 20%;
  grid-template-areas:
    "wel wel title nav ."
    ". info info info ."
    "best best best go .";
  width: 100%;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}
.scroll {
  height: 90%;
  width: 95%;
  position: absolute;
  overflow: auto;
  padding: 1rem 1.5rem 2rem 1rem;
  margin-top: 1rem;
  font: italic 500 0.9rem Roboto;
  z-index: 1;
}
.info-window {
  grid-area: info;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 90%));
  justify-content: space-around;
  align-self: stretch;
  justify-self: stretch;
}
.info-result {
  grid-template-columns: repeat(auto-fit, minmax(7rem, 20rem));
  justify-self: center;
  justify-content: stretch;
}
.content-rules-description {
  display: flex;
  justify-content: center; 
  justify-self: center; 
  align-items: center;
  width: 90%;
  min-height: 9rem;
  border-radius: 2.5rem;
  background-color: #f4f3f3;
  position: relative;
  border: 0.6rem solid #2388e5;
  font: normal 500 1.95rem Roboto;
  text-align: center;
}

.scroll-result {
  display: grid;
  overflow: hidden;
  padding: 0;
}
.scores-result {
font: italic 500 1rem Roboto;
}
.text-result {
color:rgba(147, 146, 146, 1)
}
.bottom {
bottom: 1rem;
}
.z10 {
  z-index: 10;
}
.go {
  grid-area: go;
}
.btn-bottom-bl {
  cursor: pointer;
  font: normal 600 1.2rem/1.6rem Roboto;
  padding: 1.25rem 2rem;
  min-width: 20vw;
  max-width: 27.4375rem;

  color: #ffffff;
  background: rgba(53, 196, 232, 0.8);
  border: 0.6vh solid rgba(147, 146, 146, 0.8);
  border-radius: 3vh;
  text-align: center;
}

.best {
  grid-area: best;
  max-width: 25rem;
  font-weight: 500;
  font-size: 1rem;
  background: none;
}
.best a {
  color: #ffffff;
  text-decoration: none;
}
.title {
  grid-area: title;
}

.field-block {
  display: grid;
  justify-content: center;
}
#rules,
#go {
  padding: 0.2rem 0.3rem;
}
.btn-best {
  font: normal 400 1rem/1rem Roboto;
}

@media (max-width: 1366px) {
  .rules {
    display: grid;
    grid-template-rows: 15% 1fr 17%;
    grid-template-columns: 3% 1fr 30% 1fr 3%;
  }
}
.content-rules-description {
   margin-top: 1rem;
}
@media (max-width: 1024px) {
  
  .scroll {
      padding: 0 1.5rem 0 1rem;
    }
  }

@media (max-width: 890px) {
  .rules {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.8fr 0.2fr;
    grid-template-areas:
      "wel nav"
      "title go"
      "info info"
      "best best";
    margin: 0 auto;
  } 
  .welcome-main.welcome-rules {
    margin-top: 0;
    max-width: 25rem;
}
.wrapper-dropdown-2.dropup-rules .dropdown {
  top: 72%;
  border-top: none;
  border-bottom: 5px solid rgba(147, 146, 146, 0.8);
  border-radius: 0 0 1rem 1rem;
}
}

@media (max-width: 768px) {
  .wrapper-dropdown-2.active .up-menu::after {
    top: auto;
  }
  .wrapper-dropdown-2.active .btn-main-border::before {
    top: auto;
}
  .wrapper-dropdown-2.dropup-rules.active button.btn-main-dropdown {
    border-radius: 1rem 1rem 0.35rem 0.35rem;
    border-top: 5px solid rgba(147, 146, 146, 0.8);
    border-bottom-color: rgba(53, 196, 232, 1);
  }
  .wrapper-dropdown-2.dropup-rules .dropdown {
    padding-bottom: 0;
  }
  .wrapper-dropdown-2.dropup-rules .dropdown li a {
    border-top: 1px solid #000000;
    border-bottom: none;
  }
}
@media (max-width: 540px) {
.btn-bottom-bl {
  font: normal 600 1.3rem/1.6rem Roboto;
  max-width: 17rem;
  min-width: 40vw;
}
.rules {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.14fr 0.14fr 0.14fr 0.8fr 0.14fr;
  grid-template-areas:
    "wel wel"
    "nav nav"
    "title go"
    "info info"
    "best best";
  margin: 0 auto;
} 
}
@media (max-width: 414px) {
  .btn-bottom-bl {
    font: normal 500 1rem/1.4rem Roboto;
  }
  .rules {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.14fr 0.14fr 0.14fr 0.8fr 0.14fr;
    grid-template-areas:
      "wel wel"
      "nav nav"
      "title go"
      "info info"
      "best best";
    margin: 0 auto;
  } 
  .infospan {
    height: 1.5rem;
    font: italic 500 1rem/1.5rem Roboto;
  }
  
  .best {
    max-width: 100%;
    padding: 0 .3rem;
    border-radius: 0;
    right: 0;
    font-weight: 400;
    font-size: 0.8rem;
    }
  }
  
  @media (max-width: 280px) {
    .btn-bottom-bl {
      font-size: 0.8rem;
    }
  }