/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* global */
/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

/* img,
object,
video,
embed, */
img {
  max-width: 85%;
}

/* main page*/
.main {
  background-image: url("../img/bg_1.jpg");
  background-size: cover;
}
.content-wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 3fr;
}
.header-logo-wrapper {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
}

.control-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "nl e nr ";
}

.button-еarth {
  display: grid;
  grid-template-rows: 80%;
  
  position: relative;
  grid-area: e;
 
  align-items: center;
}
.control-panel-buttons {
overflow: hidden;
z-index: 1000;

}
.control-panel-earth {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin-left: auto;
    margin-right: auto;
  align-items: center;
  
}
.navi-left {
  display: grid;
  grid-template-rows: 5em;
  grid-template-columns: 70%;
  grid-gap: 0.5vw;
  grid-area: nl;
  margin-bottom: 3em;
  align-items: baseline;
  align-content: end;
  justify-content: space-around;
}

.navi-right {
  display: grid;
  grid-template-columns: 70%;
  grid-gap: 1vw;
  grid-area: nr;
  margin-bottom: 3em;
  align-items: baseline;
  align-content: end;
  justify-content: space-around;
}
/* animate buttons */
@media (prefers-reduced-motion: no-preference) {
  .control-panel-buttons {
    animation: control-panel-spin infinite 100s linear;
  }
}

@keyframes control-panel-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btn-left {
  background: rgba(53, 196, 232, 0.8);
  border: 0.4vw solid rgba(147, 146, 146, 0.8);
  border-radius: 21px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 2.2vw;
  cursor: pointer;
}

.btn-start {
  background: rgba(196, 196, 196, 0.8);
  border: 0.4vw solid rgba(147, 146, 146, 0.8);
  border-radius: 27px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 5vw;
  line-height: 84px;
  cursor: pointer;
}

.btn-group-game {
  background: rgba(196, 196, 196, 0.8);
  border: 0.4vw solid rgba(147, 146, 146, 0.8);
  border-radius: 17px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 2.2vw;
  cursor: pointer;
}

.buttons area:focus {
  outline: none;
}

/* pages */
.page {
  background-image: url("../img/bg_4.jpg");
  background-size: cover;
  height: 100vh;
}

.page-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(190, 178, 145, 0.6);
}
